@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat.ttf);
}

* {
    box-sizing: border-box;
}

header {
    background-color: #ff7518
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.main-layout {
    width: 1100px;
    margin: auto;
}

body {
    margin: 0;
}

.header-container .main-nav a:hover {
    transform: translateY(-10%);
}

.header-container .main-nav a {
    text-decoration: none;
    font-family: Montserrat;
    padding: 10.5px;
    display: inline-flex;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .2s;
}

.header-container .main-nav a:not(:last-of-type) {
    border-right: #BAB1A9 1px solid;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5px;
}

.logo .secondary {
    height: 10px;
}

.logo .main {
    height: 25px;
}

.photo-gallery {
    display: block;
}

.gallery .saved-memes {
    background-color: #e3e3e3;
    margin: auto;
    display: grid;
    padding: 25px 26.25px;
    gap: 10.5px 9px;
    grid-template-columns: repeat(3, 343px);
}

.gallery img {
    width: 343px;
    height: 220px;
    object-fit: cover;
}

.meme-editor {
    background-color: #e3e3e3;
    padding: 30px 0;
    justify-content: space-around;
}

.meme-editor.show {
    display: flex;
}

.controls {
    display: grid;
    grid-template-columns: repeat(5, 45px);
    grid-template-areas: "txt txt txt txt txt" ". switch add remove . " "increase-font decrease-font align-left align-center align-right" "font font font stroke paint" "icon icon icon icon icon" "download download save share share";
    gap: 9px;
}

.meme-editor a:hover {
    transform: translateY(-10%);
}

.meme-editor button:hover {
    transform: translateY(-10%);
}

.meme-editor button {
    width: 3.075rem;
    height: 3.075rem;
    object-fit: cover;
    border-radius: 0.375rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: transform .2s;
}

.meme-editor button img {
    height: 2.225rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff7518;
    padding: 20px 0;
    font-family: Montserrat;
    color: white;
}

footer small {
    margin-top: 10px;
}

[name="line"] {
    grid-area: txt;
    border-radius: 0.375rem;
    border: none;
}

.add-line-btn {
    grid-area: add;
}

.switch-line-btn {
    grid-area: switch;
}

.font-increase-btn {
    grid-area: increase-font;
}

.font-decrease-btn {
    grid-area: decrease-font;
}

.align-left-btn {
    grid-area: align-left;
}

.align-center-btn {
    grid-area: align-center;
}

.align-right-btn {
    grid-area: align-right;
}

.remove-btn {
    grid-area: remove;
}

[name=font-selection] {
    grid-area: font;
    border-radius: 0.375rem;
    border: none;
}

.meme-editor a {
    color: white;
    background-color: #ff7518;
    font-family: Montserrat;
    width: 100%;
    /* line-height: 0.75rem; */
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: transform .2s;
    cursor: pointer;
}

.paint {
    grid-area: paint;
}

.meme-editor .save-btn {
    grid-area: save;
}

.meme-editor .download-btn {
    grid-area: download;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
}

.search-bar img {
    height: 20px;
}

.search-bar button {
    padding: 5px;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    cursor: pointer;
}

[name="search"] {
    border: none;
    border-bottom: 2px solid black;
}

#color {
    height: 50px;
    width: 50px;
    z-index: 1;
}